---
layout: vertical.njk
title: Charts · Bar & Column
pageTitle: Bar & column charts
pageSubtitle: Vertical bars, horizontal bars, grouped, stacked, and donut variants.
page_module: charts-bar
permalink: /charts/bar-column/index.html
breadcrumbs:
  - { label: "BX-AI+", href: "/" }
  - { label: "Charts" }
  - { label: "Bar & column" }
---

<div class="row g-3">
  <div class="col-12 col-xl-6"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Vertical bars</h3></div></div><div class="bx-widget__body"><div data-bx-chart="bars" style="min-height:280px;"></div></div></div></div>
  <div class="col-12 col-xl-6"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Horizontal bars</h3></div></div><div class="bx-widget__body"><div data-bx-chart="hbars" style="min-height:280px;"></div></div></div></div>
  <div class="col-12 col-xl-6"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Grouped</h3></div></div><div class="bx-widget__body"><div data-bx-chart="grouped" style="min-height:280px;"></div></div></div></div>
  <div class="col-12 col-xl-6"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Stacked</h3></div></div><div class="bx-widget__body"><div data-bx-chart="stacked" style="min-height:280px;"></div></div></div></div>
  <div class="col-12 col-md-6 col-xl-4"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Donut</h3></div></div><div class="bx-widget__body"><div data-bx-chart="donut" style="min-height:240px;"></div></div></div></div>
  <div class="col-12 col-md-6 col-xl-4"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Pie</h3></div></div><div class="bx-widget__body"><div data-bx-chart="pie" style="min-height:240px;"></div></div></div></div>
  <div class="col-12 col-md-6 col-xl-4"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Radial</h3></div></div><div class="bx-widget__body"><div data-bx-chart="radial" style="min-height:240px;"></div></div></div></div>
</div>
