---
layout: vertical.njk
title: Charts · Line & Area
pageTitle: Line & area charts
pageSubtitle: Smooth lines, gradient areas, multi-series, dashed forecasts.
page_module: charts-line
permalink: /charts/line-area/index.html
breadcrumbs:
  - { label: "BX-AI+", href: "/" }
  - { label: "Charts" }
  - { label: "Line & area" }
---

<div class="row g-3">
  <div class="col-12 col-xl-6"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Basic line</h3></div></div><div class="bx-widget__body"><div data-bx-chart="line" style="min-height:280px;"></div></div></div></div>
  <div class="col-12 col-xl-6"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Multi-series with markers</h3></div></div><div class="bx-widget__body"><div data-bx-chart="multi-line" style="min-height:280px;"></div></div></div></div>
  <div class="col-12 col-xl-6"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Gradient area</h3></div></div><div class="bx-widget__body"><div data-bx-chart="area" style="min-height:280px;"></div></div></div></div>
  <div class="col-12 col-xl-6"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Stacked area</h3></div></div><div class="bx-widget__body"><div data-bx-chart="area-stacked" style="min-height:280px;"></div></div></div></div>
  <div class="col-12"><div class="bx-widget"><div class="bx-widget__head"><div class="bx-widget__title-wrap"><h3 class="bx-widget__title">Dashed forecast</h3></div></div><div class="bx-widget__body"><div data-bx-chart="dashed" style="min-height:300px;"></div></div></div></div>
</div>
